@import '@/styles/base';

.help-detail {
  background-color: #fff;
  padding: 40rpx rpx(16) 0 rpx(16);
  .help-detail-title {
    position: relative;
    text-align: center;
    padding-bottom: rpx(37);
    padding-top: rpx(25);
    border-bottom: 1px solid #ddd;
    .icon {
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: rpx(-10);
      width: rpx(26);
      padding: 0 rpx(5);
    }
    .help-detail-title-name {
      font-size: rpx(16);
      font-weight: normal;
      color: #000;
      box-sizing: border-box;
    }
  }
  .help-detail-content {
    padding-top: rpx(27);
    font-size: rpx(14);
    .title {
      color: #1D1D1D;
      margin-bottom: rpx(10);
      font-family: 'PingFangSC, PingFangSC-Medium;';
    }
    .content {
      font-weight: 400;
      font-family: 'PingFangSC, PingFangSC-Medium';
      text-align: left;
      color: #616161;
      margin-bottom: rpx(25);
    } 
  }
}