@import '@/styles/base';


.text {
  font-size: rpx(14);
  font-family: 'Lato, Lato-Regular';
  font-weight: 400;
  text-align: left;
}

.sp-item {
  position: relative;
  display: flex;
  padding: rpx(29) rpx(15);
  border-bottom: 1px solid #e8e8e8;
  .c-box {
    margin-right: rpx(19);
  }
  .image-box {
    width: rpx(100);
    margin-right: rpx(12);
    .image {
      width: rpx(100);
      height: rpx(137);
      background: #f7f7f7;
    }
    .no-stock-txt {
      font-size: 12px;
      font-family: 'PingFangSC, PingFangSC-Regular';
      font-weight: 400;
      margin-top: rpx(10);
      color: #e4210d;
    }
  }
  .info-box {
    width: rpx(197);
    .p-name {
      display: block;
      font-size: rpx(14);
      font-family: 'PingFangSC, PingFangSC-Regular';
      font-weight: 400;
      margin-bottom: rpx(15);
      letter-spacing: 1px;
    }
    .select-attr-field {
      display: flex;
      margin-bottom: rpx(14);
      line-height: rpx(24);
      .label {
        @extend .text;
        color: #8e8e8e;
      }
      .content {
        position: relative;
        width: rpx(65);
        height: rpx(24);
        background: #f7f7f7;
        padding-left: rpx(5);
        padding-right: rpx(5);
        .value {
          @extend .text;
          color: #1d1d1d;
        }
        .arrow-icon {
          position: absolute;
          right: rpx(5);
          top: 40%;
          width: 0;
          height: 0;
          border-left: rpx(4) solid transparent;
          border-right: rpx(4) solid transparent;
          border-bottom: rpx(4) solid #8e8e8e;
          transform: rotate(180deg) translateY(-50%);
        }
      }
      .no-bg {
        background: transparent;
      }
    }
    .price-box {
      overflow: hidden;
      .amount {
        float: left;
        @extend .text;
        .label {
          color: #8e8e8e;
        }
      }
      .price {
        float: right;
        @extend .text;
      }
    }
  }

  .delete-btn {
    position: absolute;
    right: 0;
    color: #8E8E8E;
    width: rpx(12);
    height: rpx(12);
  }
}

.disabled {
  .price, .p-name, .select-attr-field > label,
  .content > .value, .amount {
    color: #BBBBBB !important;
  }
}