@import "@/styles/utilities.scss";
.personal-info-add {
    .personal-info-add-tip{
      font-size: 32rpx;
      color: #1D1D1D;
      line-height: 48rpx;
      letter-spacing: 2rpx;
      margin-top: 70rpx;
      margin-bottom: 60rpx;
      padding-left: 32rpx;
    }
    .form-box{
        padding: 0 36rpx 60rpx;
        margin-top: 46rpx;
        input, .picker{
            height: 80rpx;
            background: #F9F9F9;
            padding: 0 32rpx;
            font-size: 28rpx;
            font-family: HiraginoSansGB-W3, HiraginoSansGB;
            font-weight: normal;
            color: #1D1D1D;
            margin-bottom: 48rpx;
            line-height: 80rpx;
            display: flex;
            justify-content: space-between;
            .icon-font{
                font-size: 14rpx;
            }
        }
        .placeholder{
          color:#8E8E8E;
        }
        .handle{
            display: flex;
            justify-content: center;
            margin-top: 54rpx;
            button{
                width: 100%;
                display: block;
                height: 80rpx;
                border: 1px solid #000000;
                text-align: center;
                line-height: 80rpx;
                font-size: 28rpx;
                font-family: HiraginoSansGB-W3, HiraginoSansGB;
                font-weight: normal;
                color: #1D1D1D;
                background: #E3F0EA;
            }
        } 
    }
    .pass{
      margin-top: 40rpx;
      font-size: 28rpx;
      color: #1D1D1D;
      line-height: 42rpx;
      text-align: center;
    }
}