@import "@/styles/utilities.scss";
.editAccount{
    padding-bottom: 80rpx;
    .account-top{
        position: relative;
        .bg{
            width: 750rpx;
            height: 316rpx;
            vertical-align: top;
        }
        .photo-box{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -80rpx;
            z-index: 5;
            width: 160rpx;
            height: 160rpx;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 3px 4px 0px #DDDDDD;
            >image{
                width: 160rpx;
                height: 160rpx;
            }
        }
    }
    .title{
        font-size: 36rpx;
        font-family: HiraginoSansGB-W3, HiraginoSansGB;
        font-weight: normal;
        color: #1D1D1D;
        // height: 60rpx;
        line-height: 60rpx;
        text-align: center;
        margin: 108rpx 0 20rpx 0;
    }
    .edit-icon{
        margin: 10rpx auto 0;
        width: 202rpx;
        height: 54rpx;
        border-radius: 32rpx;
        background-color: #fff;
        font-size: 24rpx;
        font-weight: normal;
        color: #8E8E8E;
        line-height: 54rpx;
        border: 1px solid #F4F4F4;
        text-align: center;
        .icon-icon-shezhi{
          font-size: 24rpx;
          margin-right: 18rpx;
          color: #8E8E8E;
        }
    }
    .form-box{
        padding: 0 32rpx 68rpx;
        margin-top: 40rpx;
        .form-inner{
            input, .picker{
				border: 2rpx solid #8E8E8E;
                height: 80rpx;
                padding: 0 32rpx;
                font-size: 28rpx;
                font-weight: normal;
                color: #1D1D1D;
                margin-bottom: 50rpx;
                line-height: 80rpx;
                letter-spacing: 2rpx;
                display: flex;
                justify-content: space-between;
                .date-placeholder{
                    color: #BBBBBB; 
                }
                .date-text{
                    color: #1D1D1D;
                }
                .icon-font{
                    font-size: 14rpx;
                }
            }
            input::-webkit-input-placeholder { 
                /* WebKit browsers */ 
                color: #BBBBBB; 
            } 
            input::-moz-placeholder { 
                /* Mozilla Firefox 4 to 18 */ 
                color: #BBBBBB; 
            } 
            input::-moz-placeholder { 
                /* Mozilla Firefox 19+ */ 
                color: #BBBBBB; 
            } 
            input::-ms-input-placeholder { 
                /* Internet Explorer 10+ */ 
                color: #BBBBBB; 
            }
            .check-box{
                label{
                    font-size: 28rpx;
                    font-family: HiraginoSansGB-W3, HiraginoSansGB;
                    font-weight: normal;
                    color: #252525;
                    line-height: 42rpx;  
                }
                .checkbox{
                    transform: scale(0.6);
                }  
            }
        }
        .handle{
            display: flex;
            justify-content: center;
            margin-top: 100rpx;
            button{
                width: 100%;
                display: block;
                height: 80rpx;
                text-align: center;
                line-height: 80rpx;
                font-size: 28rpx;
                font-family: HiraginoSansGB-W3, HiraginoSansGB;
                font-weight: normal;
                color: #FFFFFF;
                background: #000000;
            }
        } 
        .input-box{
            position: relative;
            .errorMessage {
                position: absolute;
                top: 88rpx;
                left: 0;
                color: #c83232;
                font-size: 20rpx;
            }
        }
    }
}