@import '@/styles/utilities.scss';
.product-content {
  overflow: hidden;
  padding-bottom: var(--safe-area-inset-bottom);
  .wrapper {
    padding-bottom: rpx(64);
  }
}
.wrapper-content {
  height: calc(100vh - 220rpx - var(--safe-area-inset-bottom));
  background-color: #f7f7f7;
}
.product-banner-content {
  .pdp-swiper-content {
    height: rpx(453);
    .swiper-item {
      width: 100%;
      height: 100%;
      text-align: center;
      .imgs {
        width: rpx(284);
        margin-top: rpx(62);
      }
    }
  }
  .dots-share {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: rpx(36);
    margin-top: rpx(16);
    .view-dost {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: rpx(100);
      height: rpx(2);
      background: #ddd;
      .item {
        flex: 1;
        width: 100%;
        height: 100%;
      }
      .active {
        background: #1d1d1d;
      }
    }
    .share {
      position: absolute;
      top: 0;
      right: rpx(12);
      display: flex;
      flex-direction: row;
      .share-btn {
        line-height: 1;
        display: inline-block;
        margin: 0;
        margin-left: rpx(12);
        padding: 0;
        border-radius: 0;
        background: none;
        &::after {
          border: none;
        }
      }
      .icon-font {
        font-size: rpx(17);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: rpx(36);
        height: rpx(36);
        border-radius: 50%;
        background: #fff;
      }
    }
  }
}
.product-info-content {
  margin-top: rpx(47);
  text-align: center;
  .tag {
    font-family: Lato, Lato-Bold;
    font-size: rpx(16);
    font-weight: 700;
    line-height: rpx(19);
    letter-spacing: 1px;
    color: #1d1d1d;
  }
  .title {
    font-family: PingFangSC, PingFangSC-Regular;
    font-size: rpx(16);
    font-weight: 400;
    line-height: rpx(22);
    margin-top: rpx(3);
    letter-spacing: 1px;
    color: #1d1d1d;
  }
  .price {
    font-family: PingFangSC, PingFangSC-Regular;
    font-size: rpx(16);
    font-weight: 400;
    line-height: rpx(22);
    margin-top: rpx(9);
    letter-spacing: 1px;
    color: #1d1d1d;
  }
}
.suit-wrap {
  text-align: center;
  .line-title {
    position: relative;
    margin-bottom: rpx(48);
    .line {
      border-top: 1px solid #1d1d1d;
    }
    .icon-font {
      font-size: rpx(14);
      position: absolute;
      top: rpx(-4);
      left: 50%;
      display: inline-block;
      width: rpx(31);
      height: rpx(4);
      padding: 0 rpx(7);
      transform: translate(-50%, 0);
      color: #1d1d1d;
    }
  }
  .suit-box {
    height: rpx(830);
  }
  .imgs {
    width: rps(338);
    height: rpx(465);
    text-align: center;
  }
  .title {
    font-family: PingFangSC, PingFangSC-Medium;
    font-size: rpx(14);
    font-weight: 500;
    line-height: rpx(20);
    margin: rpx(30) 0;
    letter-spacing: 1px;
    color: #1d1d1d;
  }
}
.product-details-content {
  position: relative;
  margin-bottom: rpx(30);
  .details-item {
    image {
      width: 100%;
    }
  }
}
.pdp-buy-fixed {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: var(--safe-area-inset-bottom);
  border-top: rpx(1) solid #f4f4f4;
  background-color: #fff;
}
.pdp-style-content {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: rpx(1) solid #ddd;
  border-bottom: rpx(1) solid #ddd;
  .box-content {
    line-height: rpx(44);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: rpx(44);
    padding-right: rpx(11);
    padding-left: rpx(20);
    text-align: center;
    &:first-child {
      border-right: rpx(1) solid #ddd;
    }
    .color-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    .color {
      width: rpx(22);
      height: rpx(22);
      margin-right: rpx(15);
      background-color: rgb(51, 174, 196);
    }
    .txt {
      font-family: PingFangSC, PingFangSC-Regular;
      font-size: rpx(14);
      font-weight: 400;
      line-height: rpx(20);
      letter-spacing: 1px;
      color: #1d1d1d;
    }
    .icon-font {
      font-size: rpx(12);
      line-height: 1;
    }
  }
}
.pdp-buy-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: rpx(64);
  padding: 0 rpx(11) 0 rpx(12);
  .add-success-content {
    font-size: rpx(14);
    position: absolute;
    top: rpx(-45);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rpx(345);
    margin: 0 rpx(15);
    padding: rpx(10) rpx(20);
    color: #fff;
    border-radius: rpx(4);
    background: rgba(29, 29, 29, .6);
    .txt {
      font-family: PingFangSC, PingFangSC-Regular;
      font-size: rpx(14);
      font-weight: 400;
      line-height: rp(20);
      text-align: left;
      letter-spacing: 1px;
      color: #fff;
    }
    .to {
      font-family: PingFangSC, PingFangSC-Regular;
      font-size: rpx(14);
      font-weight: 400;
      line-height: rpx(20);
      text-align: right;
      text-decoration: underline;
      letter-spacing: 1px;
      color: #fff;
    }
  }
  .service-content,
  .cart-content {
    font-size: 0;
    color: #1d1d1d;
    .cart-btn,
    .service-btn {
      font-size: 0;
      line-height: 0;
      padding: 0;
      text-align: center;
      background: transparent;
    }
    .imgs {
      font-size: rpx(18);
      width: rpx(24);
    }
    .text {
      font-family: Lato, Lato-Bold;
      font-size: rpx(12);
      font-weight: 700;
      line-height: rpx(15);
      text-align: center;
      letter-spacing: 1px;
      color: #1d1d1d;
    }
    .cart-main {
      position: relative;
      display: inline-block;
      .cart-num {
        font-family: PingFangSC, PingFangSC-Semibold;
        font-size: rpx(8);
        font-weight: 600;
        line-height: rpx(12);
        position: absolute;
        top: rpx(-2);
        right: rpx(-2);
        width: rpx(12);
        height: rpx(12);
        text-align: center;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background: rgba(29, 29, 29, .6);
      }
    }
  }
  .buy-main {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .buy-btn {
    font-family: Lato, Lato-Bold;
    font-size: rpx(14);
    font-weight: 700;
    line-height: rpx(17);
    width: rpx(122);
    padding: rpx(10) 0;
    color: #1d1d1d;
    border: rpx(2) solid #1d1d1d;
    background-color: #fff;
    &:last-child {
      margin-left: rpx(10);
    }
  }
  .btn-bg {
    color: #fff;
    background-color: #1d1d1d;
  }
}
.arrival-notice {
  .buy-btn {
    width: rpx(245);
    margin-left: 0 !important;
  }
  .buy-dis {
    color: #fff;
    background-color: #bbb;
  }
}
.dialog-wrap {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  .dialog-mark {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }
  .dialog-content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 rpx(17);
    padding-bottom: var(--safe-area-inset-bottom);
    background-color: #fff;
    .title {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-top: rpx(23);
      .txt {
        font-family: PingFangSC, PingFangSC-Medium;
        font-size: rpx(14);
        font-weight: 500;
        line-height: rpx(20);
        color: #1d1d1d;
      }
      .none {
        color: #bbb;
      }
      .other {
        font-family: PingFangSC, PingFangSC-Medium;
        font-size: rpx(14);
        font-weight: 500;
        line-height: rpx(20);
        margin-right: rpx(25);
        text-decoration: underline;
        color: #1d1d1d;
      }
      .online {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
      }
    }
    .item {
      font-family: PingFangSC, PingFangSC-Regular;
      font-size: rpx(14);
      font-weight: 400;
      line-height: rpx(20);
      padding: rpx(22) 0;
      text-align: center;
      letter-spacing: 2px;
      color: #1d1d1d;
      border-bottom: 1px solid #f7f7f7;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
