@font-face {
  font-family: "icon-font"; /* Project id 2640416 */
  src: url('iconfont.woff2?t=1626770949476') format('woff2'),
       url('iconfont.woff?t=1626770949476') format('woff'),
       url('iconfont.ttf?t=1626770949476') format('truetype');
}

.icon-font {
  font-family: "icon-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e72f";
}

.icon-bofangguanbi:before {
  content: "\e730";
}

.icon-icon-chenggong2:before {
  content: "\e72e";
}

.icon-icon-xia:before {
  content: "\e72c";
}

.icon-icon-shang:before {
  content: "\e72d";
}

.icon-icon-weixin:before {
  content: "\e72b";
}

.icon-iconweixinzhifu:before {
  content: "\e72a";
}

.icon-icon-youjiantou:before {
  content: "\e729";
}

.icon-icon-logo:before {
  content: "\e728";
}

.icon-icon-kefu:before {
  content: "\e727";
}

.icon-icon-gerenzhongxinweixuanzhong:before {
  content: "\e725";
}

.icon-icon-xialahuise:before {
  content: "\e724";
}

.icon-icon-shezhi:before {
  content: "\e723";
}

.icon-icon-bangzhuzhongxin:before {
  content: "\e722";
}

.icon-icon-dizhibu:before {
  content: "\e721";
}

.icon-icon-jingpindian:before {
  content: "\e720";
}

.icon-icon-dingdan:before {
  content: "\e71f";
}

.icon-icon-xiala:before {
  content: "\e71e";
}

.icon-icon-shanchu:before {
  content: "\e71d";
}

.icon-icon-guanbi:before {
  content: "\e71c";
}

.icon-icon-sousuo:before {
  content: "\e71b";
}

.icon-icon-zuo:before {
  content: "\e71a";
}

.icon-icon-dingdian:before {
  content: "\e718";
}

.icon-icon-dingwei:before {
  content: "\e716";
}

.icon-icon-yuyue:before {
  content: "\e715";
}

.icon-icon-dianhua:before {
  content: "\e714";
}

.icon-a-icon-fenlei:before {
  content: "\e713";
}

.icon-icon-gouwudai:before {
  content: "\e711";
}

.icon-icon-yijianxiangshang:before {
  content: "\e710";
}

.icon-icon-bofang:before {
  content: "\e70f";
}

.icon-icon-shijian:before {
  content: "\e70e";
}

.icon-icon-fenxiang:before {
  content: "\e70d";
}

.icon-icon-zhifushibai:before {
  content: "\e70c";
}

.icon-icon-zhifuchenggong:before {
  content: "\e70b";
}

