// Color variables
$primary-color: #E3F0EA;
$text-color: #1D1D1D;
$background-color: #F9F9F9;
$white: #FFFFFF;

$gray:#616568;
$gray-8e:#8E8E8E;
$gray-bb:#BBBBBB;
$gray-e6:#E6E6E6;
$gray-f4:#F4F4F4;

$error-color:#E4210D;
$succeed-color:#00862D;
$hint-color:#C0EBDB;