@import '@/styles/base';

.my-order {
  padding-bottom: var(--safe-area-inset-bottom);
  background: #F9F9F9;
  .my-order-content{
    .no-order{
      padding: rpx(40) 0 rpx(60);
      color: #1D1D1D;
      text-align: center;
      .icon-font {
        display: block;
        margin-bottom: rpx(18);
        font-size: rpx(40);
        color: #1D1D1D;
      }
      .no-order-text {
        font-size:rpx(18);
        margin-bottom: 34rpx;
      }
      
      .no-order-tip {
        font-size: rpx(14);
        font-weight: normal;
        margin: rpx(20) 0 rpx(40) 0;
      }
    }
    .order-status-tab {
      position: fixed;
      top: 65px;
      z-index: 10;
      width: 100%;
      height: rpx(40);
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #fff;
      margin-bottom: rpx(5);
      text {
        display: block;
        height: 100%;
        line-height: rpx(40);
        color: #8E8E8E;
        font-size: rpx(14);
        padding: 0 rpx(10);
      }
      .act {
        color: #1d1d1d;
        font-weight: bold;
        border-bottom: 2rpx solid #1d1d1d;
      }
    } 
    .order-list{
        color: #1D1D1D;
        padding-top: rpx(45);
        padding-bottom: rpx(30);
        margin: 0 rpx(15);     
      .order-list-header{
        height: 92rpx;
        line-height: 92rpx;
        padding: 0 32rpx;
        font-size: 32rpx;
        letter-spacing: 2rpx;
        border-bottom: 1px solid #F4F4F4;
        .order-total-num{
          float: right;
          font-size: 28rpx;
          color: #8E8E8E;
        }
      }
      
    }
  }
}