@import '@/styles/base';

.order-detail{
  font-size: 32rpx;
  color: #1D1D1D;
  line-height: 24px;
  // 订单信息头部
  .order-detail-header{
    height: 100rpx;
    line-height: 100rpx;
    letter-spacing: 2px;
    padding: 0 32rpx;
    border-bottom: 1px solid #F4F4F4;
    box-sizing: border-box;
  }
  // 订单内容
  .order-detail-content{
    padding: 0 rpx(16);
		z-index: 1;
    // 订单编号，订单状态
    .order-num-status{
      position: relative;
      font-size: 28rpx;
      line-height: 110rpx;
      padding-right: 100rpx;
      border-bottom: 1px solid #F4F4F4;
      .order-status{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    // 订单信息
    .order-info{
      padding: 48rpx 0; 
      font-size: 28rpx;
      line-height: 40rpx;
      border-bottom: 1px solid #F4F4F4;
     .order-info-item{
      margin-bottom: 20rpx;
      .title-type{
        margin-right: 20rpx;
      }
     }
     .order-orderInvoice{
       margin-top: 0rpx;
       margin-bottom: 30rpx;
     }
     .order-texNo{
       margin-left: 141rpx;
       margin-top: 20rpx;
     }
     .unpaid{
         .order-count-down {
           font-size: 24rpx;
           line-height: 34rpx;
           text-align: center;
           margin-bottom: 40rpx;

           .icon-font {
             margin-right: 10rpx;
             position: relative;
             top: 2rpx;
           }
         }
     }
    }
    // 配送信息
    .shipping-info{
       padding: 48rpx 0;
       font-size: 28rpx;
       line-height: 40rpx;
       border-bottom: 1px solid #F4F4F4;
       .shipping-info-address{
         color: #616161;
         margin-top: 10rpx;
       }
    }
    // 物流信息
    .logistics-info{
      padding: 48rpx 0;
      font-size: 28rpx;
      line-height: 42rpx;
      border-bottom: 1px solid #F4F4F4;

      .tracking-num{
        margin-bottom: 44rpx;
      }
      .logistics-info-list{
        padding-left: 140rpx;
        .logistics-info-item{
          margin-bottom: 32rpx;
          .logistics-info-time{
            margin-top: 18rpx;
            color: #BBBBBB;
            font-size: 24rpx;
            line-height: 34rpx;
          }
        }

      }
      .logistics-view-more{
        text-align: center;
        line-height: 40rpx;
        .icon-font{
          position: relative;
          top: -5rpx;
          font-size: 15rpx;
          margin-left: 10rpx;
        }
      }
    }
  }
  .mgb40{
    margin-bottom: 40rpx;
  }
  .mgr40{
    margin-right: 40rpx;
  }
  .sub-title{
    font-size: 32rpx;
    line-height: 48rpx;
    letter-spacing: 2rpx;
    margin-bottom: 40rpx;
    text{
      font-size: 28rpx;
    }
  }
}
// 取消的订单弹框
.message-box {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100001;
  .message-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 60rpx 30rpx;
    width: 560rpx;
    background: #fff;
    transform: translate(-50%, -50%);
    .message-title {
      margin-bottom: 44rpx;
      font-size: 32rpx;
      text-align: center;
      color: #1D1D1D;
    }
    .message-info {
      margin-bottom: 46rpx;
      font-size: 28rpx;
      text-align: center;
      color: #8E8E8E;
    }
    .message-footer {
      display: flex;
      .cancel {
        margin-right: 20rpx;
      }
    }
  }  
}