@import '@/styles/base';

.order-detail{
  font-size: 32rpx;
  color: #1D1D1D;
  line-height: 24px;
  .order-status-box {
    background: #f9f9f9;
    .status {
      font-size: rpx(14);
      font-family: 'PingFangSC, PingFangSC-Semibold';
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      padding: rpx(25) 0 rpx(11) rpx(26);
      margin: 0 rpx(16);
    }
  }
  // 订单内容
  .order-detail-content{
    padding: 0 rpx(16);
		z-index: 1;
    .unpaid-action-content {
      background: #f9f9f9;
      margin: 0 rpx(-32);
      margin-top: rpx(-30);
      padding-bottom: rpx(24);
      .order-count-down {
        font-size: rpx(12);
        line-height: rpx(17);
        text-align: center;
        .icon-font {
          margin-right: rpx(5);
          position: relative;
          top: 2rpx;
        }
      }
      .action-btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rpx(15);
      }
    }
  }
  .mgb40{
    margin-bottom: 40rpx;
  }
  .mgr40{
    margin-right: 40rpx;
  }
  .sub-title{
    font-size: 32rpx;
    line-height: 48rpx;
    letter-spacing: 2rpx;
    margin-bottom: 40rpx;
    text{
      font-size: 28rpx;
    }
  }
}
// 取消的订单弹框
.message-box {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100001;
  .message-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 60rpx 30rpx;
    width: 560rpx;
    background: #fff;
    transform: translate(-50%, -50%);
    .message-title {
      margin-bottom: 44rpx;
      font-size: 32rpx;
      text-align: center;
      color: #1D1D1D;
    }
    .message-info {
      margin-bottom: 46rpx;
      font-size: 28rpx;
      text-align: center;
      color: #8E8E8E;
    }
    .message-footer {
      display: flex;
      .cancel {
        margin-right: 20rpx;
      }
    }
  }  
}