.order-detail{
  font-size: 32rpx;
  color: #1D1D1D;
  line-height: 24px;
  // 订单信息头部
  .order-detail-header{
    height: 100rpx;
    line-height: 100rpx;
    letter-spacing: 2px;
    padding: 0 32rpx;
    border-bottom: 1px solid #F4F4F4;
    box-sizing: border-box;
  }
  // 订单内容
  .order-detail-content{
    padding: 0 32rpx 60rpx;
		z-index: 1;
    // 订单编号，订单状态
    .order-num-status{
      position: relative;
      font-size: 28rpx;
      line-height: 110rpx;
      padding-right: 100rpx;
      border-bottom: 1px solid #F4F4F4;
      .order-status{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    // 订单信息
    .order-info{
      padding: 48rpx 0; 
      font-size: 28rpx;
      line-height: 40rpx;
      border-bottom: 1px solid #F4F4F4;
     .order-info-item{
      margin-bottom: 20rpx;
      .title-type{
        margin-right: 20rpx;
      }
     }
     .order-orderInvoice{
       margin-top: 0rpx;
       margin-bottom: 30rpx;
     }
     .order-texNo{
       margin-left: 141rpx;
       margin-top: 20rpx;
     }
     .unpaid{
         .order-count-down {
           font-size: 24rpx;
           line-height: 34rpx;
           text-align: center;
           margin-bottom: 40rpx;

           .icon-font {
             margin-right: 10rpx;
             position: relative;
             top: 2rpx;
           }
         }
     }
    }
    // 配送信息
    .shipping-info{
       padding: 48rpx 0;
       font-size: 28rpx;
       line-height: 40rpx;
       border-bottom: 1px solid #F4F4F4;
       .shipping-info-address{
         color: #616161;
         margin-top: 10rpx;
       }
    }
    // 物流信息
    .logistics-info{
      padding: 48rpx 0;
      font-size: 28rpx;
      line-height: 42rpx;
      border-bottom: 1px solid #F4F4F4;

      .tracking-num{
        margin-bottom: 44rpx;
      }
      .logistics-info-list{
        padding-left: 140rpx;
        .logistics-info-item{
          margin-bottom: 32rpx;
          .logistics-info-time{
            margin-top: 18rpx;
            color: #BBBBBB;
            font-size: 24rpx;
            line-height: 34rpx;
          }
        }

      }
      .logistics-view-more{
        text-align: center;
        line-height: 40rpx;
        .icon-font{
          position: relative;
          top: -5rpx;
          font-size: 15rpx;
          margin-left: 10rpx;
        }
      }
    }
    // 订单摘要
    .product-box {
      width: 100%;
      // padding-bottom: 30rpx;  
    .item-box {
      // margin-top: 15rpx;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // padding: 33rpx 5rpx;
      padding-bottom: 40rpx;
      border-bottom: 2rpx solid #F4F4F4;
      .product-img {
        // width: 40%;
        image {
          width: 280rpx;
          height: 280rpx;
          display: block;
          margin-top: 36rpx;
        }
      }
      .product-info {
        // width: 60%;
        margin-left: 66rpx;
        flex: 1;
        .title {
          font-size: 28rpx;
          font-weight: 300;
          margin-top: 36rpx;
          color: #252525;
          word-break: break-word;
        }
        .sub-title {
          font-size: 28rpx;
          color: #252525;
          font-weight: 300;
          line-height: 50rpx;
          word-break: break-word;
        }
        .ch-title {
          font-size: 28rpx;
          font-weight: 300;
          margin-bottom: 26rpx;
        }
        .num-box {
          margin-top: 50rpx;
          &.number-box {
           margin-bottom: 40rpx;
          }
          &.size-box {
            margin-top: 40rpx;
          }
          .number {
            font-size: 28rpx;
            display: inline-block;
            margin-right: 30rpx;
            color:#1D1D1D;
          }
          .price {
            font-size: 28rpx;
            display: inline-block;
            margin-right: 30rpx;
            color: #252525;
          }
        }
      }
    }
  } 
    .title-left{
      margin-top: 40rpx;
    }
    // 订单总结
    .order-total{
      width: calc(100vw);
      margin-left: -32rpx;
      padding: 60rpx 32rpx 0;
      background: #F9F9F9;
      font-size: 28rpx;
      color: #000000;
      line-height: 42rpx;
      view{
        overflow: hidden;        
        margin-bottom: 44rpx;
        text{
          float: left;
          &:last-child{
            float: right;
            text-align: right;
          }
        }
      }
      .total{
        height: 140rpx;
        line-height: 140rpx;
        border-top: 1px solid #BBBBBB;
        margin-bottom: 0;
      }
    }
  }
  .mgb40{
    margin-bottom: 40rpx;
  }
  .mgr40{
    margin-right: 40rpx;
  }
  .sub-title{
    font-size: 32rpx;
    line-height: 48rpx;
    letter-spacing: 2rpx;
    margin-bottom: 40rpx;
    text{
      font-size: 28rpx;
    }
  }
}
// 取消的订单弹框
.message-box {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100001;
  .message-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 60rpx 30rpx;
    width: 560rpx;
    background: #fff;
    transform: translate(-50%, -50%);
    .message-title {
      margin-bottom: 44rpx;
      font-size: 32rpx;
      text-align: center;
      color: #1D1D1D;
    }
    .message-info {
      margin-bottom: 46rpx;
      font-size: 28rpx;
      text-align: center;
      color: #8E8E8E;
    }
    .message-footer {
      display: flex;
      .cancel {
        margin-right: 20rpx;
      }
    }
  }  
}