@import "@/styles/base.scss";
page{
   background-color: #FFFFFF;
 }
$textColor: #1D1D1D;
.scroll-container{
  height: 100%;
}
.container {
  color: #1d1d1d;
  padding:0 0 100rpx;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1rpx;
  .account-header{
    position: relative;
    width: 100%;
    padding-bottom: 90rpx;

    .account-bg{
      width: 100%;
    }
    .account-head-photo-box{
      position: absolute;
      bottom: 90rpx;
      left: 50%;
      transform: translateX(-50%) translateY(40%);      
      width: 160rpx;
      height: 160rpx;
      border-radius: 50%;
      box-shadow: 0px 3px 4px 0px #DDDDDD;
      image{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .login-entrance{
	display: flex;
	align-items: center;
	justify-content: center;
    padding-top: 10rpx;
    color: #1D1D1D;
    text-align: center;
    .login-entrance-btn{
      font-family: 'HiraginoSansGB';
      font-size: 32rpx;
      line-height: 38rpx;
	  font-weight: bold;
    }
    .icon-icon-shezhi{
      font-size: 32rpx;
      margin-left: 20rpx;
    }
  }
  .account-content{    
    .account-entrance-box{
	  margin: 36rpx auto 0;
      padding: 58rpx 25rpx 0;
	  border-top: 2rpx solid #E8E8E8;
      overflow: hidden;
	  display: flex;
	  flex-wrap: wrap;
      .accout-entrance-item{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
        width: 50%;
        height: 148rpx;
        background-color: #fff;
        margin-bottom: 98rpx;
        
        &:nth-child(2n-1){
		  border-right: 4rpx solid #DDDDDD;
        }
        .icon-font{
          font-size: 50rpx;
		  margin-bottom: 20rpx;
        }
        .ent-name{
          width: 100%;
          text-align: center;
		  font-size: 28rpx;
		  font-weight: bold;
		  color: #1D1D1D;
        }

      }
    }
  }
}

.no-login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 112rpx - var(--safe-area-inset-bottom));
	.bg{
		width: 100%;
		height: 100%;
	}
	.no-login-con{
		display: flex;
		flex-direction: column;
		position: absolute;
		margin-top: 100rpx;
		.icon-font{
			font-size: 120rpx;
			text-align: center;
			color: #fff;
			margin-bottom: 80rpx;
		}
		.desc1{
			text-align: center;
			font-weight: bold;
			color: #fff;
			font-size: rpx(24);
		}
		.desc2{
			text-align: center;
			color: #fff;
			font-size: rpx(12);
			margin-top: rpx(10);
		}
		.login-btn{
			width: rpx(290);
			height: rpx(42);
			background-color: #fff;
			font-size: rpx(14);
			color: #1D1D1D;
			border: none;
			text-align: center;
			line-height: rpx(42);
			margin-top: rpx(35);
		}
		.agreement-content {
	      margin-top: rpx(17);
		  display: flex;
		  font-size: rpx(12);
		  font-family: 'PingFangSC';
		  color: #BBBBBB;
		  .under-line {
		    margin-left: 0rpx;
		    text-decoration: underline;
		    color: #BBBBBB;
		    font-weight: normal;
		    display: inline-block;
		  }
		  .privacy-txt {
		    margin-left: rpx(12);
		  }
		}
	}
}
