@import "@/styles/utilities.scss";
.address-container{
    .list {
		.item-box{
			width: 690rpx;
			margin: 0 auto; 
			margin-top: 40rpx;
			background-color: #F7F7F7;
			.item{
				padding: 30rpx;
				display: flex;
				flex-direction: column;
				font-size: 28rpx;
				color: #1D1D1D;
				text{
					display: block;
				}
				.item-name{
					display: flex;
					justify-content: space-between;
				}
				.item-phone{
					margin: 20rpx 0;
				}
				.item-address{
					color: #8E8E8E !important;
				}
				.item-btn{
					margin-top: 50rpx;
					display: flex;
					text{
						text-decoration:underline;
						&:nth-child(2){
							margin-left: 86rpx;
						}
					}
				}
			}
		}
	}
    .no-list{
		display: flex;
		flex-direction: column;
		align-items: center;
		.icon-font{
		  margin: 60rpx auto 30rpx;
		  font-size: 80rpx;
		  color: #1D1D1D;
		}
		.empty {
		  font-size: 36rpx;
		  line-height: 50rpx;
		  letter-spacing: 2rpx;
		  color: #1D1D1D;
		  margin-bottom: 28rpx;
		}
		
		.tip-text {
		  color: #8E8E8E;
		  font-size: 28rpx;
		  line-height: 40rpx;
		  letter-spacing: 4rpx;
		}
	}
	.use-wechat{
        text-align: center;
        margin-top: 48rpx;
        font-size: 28rpx;
        font-family: HiraginoSansGB-W3, HiraginoSansGB;
        font-weight: normal;
        color: #1D1D1D;
		padding-bottom: 80rpx;
        .icon-font{
            vertical-align: middle;
            color: #BBBBBB;
            margin-right: 22rpx;
        }
    }
}