@import '@/styles/base';

.category-activity-content {
    margin-bottom: rpx(10);
    .category-activity-item {
        width: 100%;
        height: rpx(175);
        .content-media {
            width: 100%;
            height: 100%;
        }
    }
}
