@import "@/styles/base.scss";


.checkout-container {
  height: 100%;
  background-color: #F9F9F9;
  .basic-txt {
    font-size: rpx(14);
    color: #1D1D1D;
    font-family: 'PingFangSC, PingFangSC-Regular';
    font-weight: 400;
  }

  .container {
    padding-bottom: rpx(113);
    padding-left: rpx(15);
    padding-right: rpx(15);
    background-color: #fff;
    .delivery-box {
      .addr-box {
        padding-bottom: rpx(16);
        border-bottom: 1px solid #e8e8e8;
        .title {
          display: flex;
          justify-content: space-between;
          padding: rpx(20) 0;
          .label {
            @extend .basic-txt;
            &:before {
              margin-right: rpx(10);
            }
          }
          .import-addr-btn {
            font-size: rpx(12);
            color: #8E8E8E;
            &:before {
              margin-right: rpx(6);
              border: 1px dashed #8E8E8E;
              padding: rpx(2);
            }
          }
        }
        .select-addr-btn {
          @extend .basic-txt;
          border: 1px solid #1D1D1D;
          padding: rpx(10) 0;
          text-align: center;
        }
        .info-box {
          @extend .basic-txt;
          position: relative;
          padding: 0 rpx(32) rpx(16) 0;
          color:#1B1B1B;
          .edit-addr-btn {
            position: absolute;
            width: rpx(15);
            height: rpx(15);
            right: rpx(5);
            top: rpx(15);
            background: transparent;
            border-right: 2px solid #000;
            border-top: 2px solid #000;
            transform: rotate(45deg);
          }
          .form-error {
            color: #E4210D;
            margin-top: 32rpx;
          }
        }
      }
      .field-item {
        @extend .basic-txt;
        overflow: hidden;
        padding: rpx(16) 0;
        border-bottom: 1px solid #e8e8e8;
        &:last-child {
          .label {
            &::before {
              margin-right: rpx(7);
            }
          }
        }
        .label {
          float: left;
          font-size: rpx(14);
          &::before {
            margin-right: rpx(10);
          }
        }
        .value {
          font-size: rpx(14);
          float: right;
        }
      }
    }
    .bill-box {
      padding: rpx(20) 0 rpx(30) 0;
      .checkbox-item {
        .label {
          display: inline-block;
          padding-left: rpx(24);
          margin-top: rpx(-2);
          @extend .basic-txt;
        }
      }
      .field-form {
        .radio-box {
          display: flex;
          justify-content: space-between;
          margin: rpx(20) 0;
          .radio-group {
            display: flex;
            .radio-item {
              font-size: rpx(14);
              .radio {
                position: relative;
                top: 5rpx;
                display: inline-block;
                width: rpx(16);
                height: rpx(16);
                border: 1px solid #1d1d1d;
                border-radius: 100%;
                background: #fff;
                margin-right: rpx(10);
              }
              .checked::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: rpx(11);
                height: rpx(11);
                background: #1d1d1d;
                border-radius: 100%;
              } 
              &:first-child {
                margin-right: rpx(25);
              }
            }
          }
          .import-bill-btn {
            font-size: rpx(14);
            color: #8E8E8E;
            &:before {
              margin-right: rpx(6);
              border: 1px dashed #8E8E8E;
              padding: rpx(2);
            }
          }
        }
        .form-title {
          font-size: rpx(14);
          margin-bottom: rpx(20);
        }
        .form-item-input {
          margin-bottom: rpx(20);
          position: relative;
            input {
              font-size: rpx(14);
              height: rpx(32);
              padding: 0 rpx(6);
              letter-spacing: 2rpx;
              border: 1px solid #8E8E8E;
            }
            .error-wrap {
              position: absolute;
              top: 100%;
              left: 0;
              /deep/ {
                .form-error {
                  font-size: 24rpx;
                  margin-top: 8rpx;
                }
              }
          }
        }
        .handle-icon {
          font-size: rpx(14);
          text-align: center;
          text {
            display: inline-block;
            margin-left: rpx(10);
          }
          .rotate {
            transform: rotate(180deg);
          }
        }
      }
    }
    .ps-box {
      padding: rpx(30) rpx(15) 0 rpx(15);
      // box-shadow: -2px -2px 9px 0px #f7f7f7; 
      .title {
        @extend .basic-txt;
        margin-bottom: rpx(30);
        .num {
          font-size: rpx(12);
        }
      }
    }
  }
  .agreement-content {
    padding: rpx(11) rpx(15);
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    font-size: rpx(12);
    font-family: 'PingFangSC';
    color: #8E8E8E;
    height: rpx(43);
    .under-line {
      margin-left: 0rpx;
      text-decoration: underline;
      color: #1D1D1D;
      font-weight: normal;
      display: inline-block;
    }
    .privacy-txt {
      margin-left: rpx(10);
    }
  }
  
  .submit-btn-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 2;
    background: #fff;
    bottom: 0;
    padding-bottom: var(--safe-area-inset-bottom);
    .button-container {
      height: rpx(70);
      display: flex;
      align-items: center;
      padding: 0 32rpx;
      justify-content: space-between;
    }
    .total-price {
      font-size: rpx(14);
      color: #000000;
    }
  }
  .btn-submit {
    width: rpx(114);
    height: 80rpx;
    line-height: 80rpx;
    background: #1d1d1d;
    font-size: 28rpx;
    color: #fff;
    border-radius: 0;
  }
}